.container{
    padding-top: 8.3vh;
    height: 100vh;
    background-image: url(../public/TopoMap.png);
    background-size: cover;
    background-repeat: repeat-y;
    
}

.content{
    top: 8.3vh;
    width: 80vw;
    margin-left: 2rem;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-neutral-background);
}

.content p{
    margin-bottom: 1rem;
}

.content pre{
    font-size: 0.75rem;
}