.card {
    color: var(--primary-color);
    margin: 2vh;
    height: 14rem;
    max-width: 100%;
    aspect-ratio: 1;
  }

 .imageContainer{
   height: 65%;
   margin: auto;
 } 

.cardImage {
  max-width: auto;
  height: 100%;
  aspect-ratio: 1;
} 

.postDate{
  height: 10%;
  width: auto;
  font-style: italic;
  font-size: auto;
  background-color: var(--dark-neutral-background);
}

.excerpt{
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--dark-neutral-background);
    font-size: calc(0.8vw + 0.8vh + 0.4vmin);
} 
