.navbar{
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 8rem auto;
}

.logo{
    padding-top: 0.4vh;
    padding-left: 2vw;
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    font-size: calc(1vw + 1vh + 2vmin);;
    font-weight: bold;
}

.hamburgerMenu
{
    display: block;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.hamburgerMenu input
{
  display: block;
  width: 40px;
  height: 32px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: noe;
  border-radius: 1px;
  position: absolute;
}

.hamburgerMenu #spanGroup{
    padding-top: 0.4rem;
    padding-right: 0.2rem;
}

.hamburgerMenu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  background: var(--primary-color);;
  border-radius: 3px;
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.hamburgerMenu #spanGroup span:first-child
{
  transform-origin: 0% 0%;
}

.hamburgerMenu #spanGroup span::nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.hamburgerMenu input:checked ~ #spanGroup span
{
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: var(--primary-color);
}


.hamburgerMenu input:checked ~ #spanGroup span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(45deg) translate(0, -1px);
}

.hamburgerMenu input:checked ~ #spanGroup span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.sidebar {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--primary-background-color);;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4;
 }
  
.sidebarList{
    font-family: 'Hammersmith One', sans-serif;
    padding-top: 7vh;
    padding-left: 3vw;
    color: var(--primary-color);
    font-size: calc(1vw + 1vh + 1vmin);
    font-weight: 500;
}

