.container{
    padding-top: 6.3vh;
    width: 100vw;
    height: 100vh;
    color: var(--primary-color);
    background-image: url(../public/TopoMap.png);
    background-size: cover;
    background-position: center;
}

.btn{
    width: 10vw;
    height: 10vh;
}