.showcase {
  padding-top: 6.3vh;
  color: var(--primary-color);
  background-image: url(../public/TopoMap.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: grid;
  height: auto;
  grid-auto-rows: 40vh 53.7vh;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 2.5vh;
  font-family: "Hammersmith One", sans-serif;
  font-size: 15vw;
}

#motto {
  width: 80%;
  font-family: "Hammersmith One", sans-serif;
  font-size: 4vh;
  text-align: center;
  padding-bottom: 3vh;
}

#socialIcon {
  margin-left: 7vw;
  margin-right: 7vw;
  background-color: var(--dark-neutral-background);
}

.formContainer {
  margin-top: 4vh;
}

.cardContainer {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 10vh;
  height: 15vh;
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

@media only screen and (min-width: 1025px) {
  #logo {
    font-size: 10vw;
  }
}
