.showcase{
  padding-top: 6.3vh;
  color: var(--primary-color);
  background-image: url(../public/TopoMap.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.content{
  display: grid;
  height: auto;
  grid-auto-rows: 40vh 53.7vh;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo{
  margin-top: 2.5vh;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 10vh;
}

#motto{
  width: 80%;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 4vh;
  text-align: center;
  padding-bottom: 3vh;
}


#socialIcon{
  margin-left: 7vw;
  margin-right: 7vw;
  background-color: var(--dark-neutral-background);
}


.butt{
  height: 50vh;
  background-color: blue;
}

.logo{
  font-family: 'Hammersmith One', sans-serif;
  font-size: 10vh;
}

.motto{
  font-family: 'Hammersmith One', sans-serif;
  width: auto;
  font-size: 5vh;
}