.sidemenu{
    position: absolute;
    height: 100%;
    width: 35vw;
    font-family: 'Hammersmith One', sans-serif;
    color: var(--primary-color);
    top: 6.2vh;
    background-color: var(--primary-background-color);
    margin-left: 65vw;
    display: grid;
    justify-content: left;
    z-index: 3;
    transition: all 8s;
}

.sidemenu ul{
    padding-top: 5vh;
    padding-left: 3vw;
    list-style-type: none;
}

.sidemenu li{
    margin-bottom: 5vh;
    font-size: 5vw;
}
